.title {
  text-align: center;
}

.projects-container-center {
  margin: 0 auto;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
  justify-content: center;
}

.card_side {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  transition: all 0.9s ease;
  position: absolute;
  height: 440px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  width: 290px;
}

.card:hover .front-card {
  transform: rotateY(180deg);
}
.card:hover .back-card {
  transform: rotateY(0);
}
.form-select {
  text-transform: capitalize;
  font-weight: bold;
  border: 4px rgb(148, 20, 120) solid;
  color: #882aad;
}
.form-select:focus {
  border: 4px rgb(148, 20, 120) solid;
}
.portfolio {
  width: 100%;
  position: relative;
  background-color: rgb(231, 231, 231);
}
.portfolio h1 {
  font-size: 43px;
  color: rgb(148, 20, 120);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 3rem;
}
.projects-title {
  padding: 80px 0px;
  display: block;
  text-align: center;
}

.heading-text h3.mastermind {
  color: rgb(19, 141, 182);
}
.quiz-text {
  color: rgb(255, 100, 185) !important;
}
.heading-text h3.todo {
  color: rgb(145, 28, 110);
}
//
.tools-container.mastermind-color {
  background-color: rgb(19, 141, 182);
}
.tools-container.todo-color {
  background-color: rgb(130, 19, 182);
}
.tools-container.calc-color {
  background-color: gray;
}
.calc-text {
  color: gray;
}
.card {
  position: relative;
  height: 440px;
  width: 290px;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  border: none;
  margin: 30px;
}
.card:last-child {
  margin-bottom: 5rem;
}

.card-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/315191/pexels-photo-315191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

.card-header.tic {
  background-size: cover;
}
.heading-text h3 {
  margin-top: 90px;
  font-weight: 800;
  color: rgb(255, 118, 141);
  display: block;
  text-align: center;
}
.heading-text h4 {
  margin: 10px 0px;
  font-size: 15px;
  font-family: serif;
  color: grey;
  text-align: center;
  padding: 0 10px;
}

.tools-container {
  position: absolute;
  background-color: rgb(255, 118, 141);
  bottom: 0;
  left: 0;
  border-top: solid black 1px;
  color: white;
  height: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.back-card {
  transform: rotateY(180deg);
  height: 440px;
  min-width: 290px;
  background-color: rgb(26, 23, 23);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}
.back-card .button {
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 20px;

  a {
    text-decoration: none;
    color: rgb(44, 26, 26);
  }
}
